<app-header></app-header>
<main>
  <div class="container">
    <div class="">
      <div class="columns">
        <div class="column">
          <div class="title is-4">Edit profile</div>
          <hr />
          <div class="field">
            <label class="label">Display name</label>
            <div class="control">
              <input
                class="input"
                type="text"
                placeholder="Enter your name"
                value="Denis Panov"
              />
            </div>
          </div>

          <div class="field">
            <label class="label">Summary</label>
            <div class="control">
              <input
                class="input"
                type="text"
                placeholder="Text input"
                value="Web developer at Cassacloud s.r.o"
              />
            </div>
          </div>

          <div class="field">
            <label class="label">Bio</label>
            <div class="control">
              <textarea
                class="textarea"
                placeholder="Write something about you..."
              >I worked on the CRM application for a construction company to improve efficiency of managing resources between buildings all over the southeastern Poland. Main technologies I used: Spring Boot, Angular 4 and MySQL.</textarea>
            </div>
          </div>

          <h2 class="title is-5">Links</h2>

          <hr />

          <div class="field">
            <label class="label">Facebook</label>
            <div class="control">
              <input
                class="input"
                type="text"
                placeholder="Profile url"
                value="facebook.com/denis.panov"
              />
            </div>
          </div>

          <div class="field">
            <label class="label">Instagram</label>
            <div class="control">
              <input
                class="input"
                type="text"
                placeholder="@username"
                value="@denis.panov"
              />
            </div>
          </div>

          <h2 class="title is-5">Skills</h2>
          <hr />

          <div class="field is-grouped is-grouped-multiline">
            <div class="control">
              <div class="tags has-addons">
                <div class="tag is-medium">Sql</div>
                <div class="tag is-medium is-delete"></div>
              </div>
            </div>
          </div>

          <div class="field has-addons">
            <div class="control">
              <input class="input" type="text" placeholder="Skill" />
            </div>
            <div class="control"><a class="button is-info">Add</a></div>
          </div>

          <button type="button" class="button save is-info">
            <strong>Save</strong>
          </button>
        </div>
      </div>
    </div>
  </div>
</main>
<app-bottom-nav></app-bottom-nav>
