<app-header></app-header>
<button type="button" class="button mes-b">Messsages</button>
<main>
  <div class="container">
    <div class="">
      <div class="columns">
        <div class="column">
          <div
            class="profile-image"
            style="background-image: url('https://pbs.twimg.com/profile_images/1063501382446125057/AH79Idpk_400x400.jpg');"
          ></div>
          <h1 class="title is-4">Hack Kosice</h1>
          <p><strong>Kosice, Puskinova 4</strong></p>
          <p>10 Feb 2007 - 11 Feb 2007</p>
          <hr />
          <p class="desc">
            I worked on the CRM application for a construction company to
            improve efficiency of managing resources between buildings all over
            the southeastern Poland. Main technologies I used: Spring Boot,
            Angular 4 and MySQL.
          </p>
          <hr />

          <h2 class="title is-5">Partners</h2>
          <div class="user">
            <div
              class="user-profile-image"
              style="background-image: url('https://www.tatrabanka.sk/images/sk/o-banke/o-banke/dolezite-dokumenty/logo-banky-stiahnutie/logo-modre/tatra_banka_blue.jpg')"
            ></div>
            <div><div class="user-name">Tatra banka</div></div>
          </div>

          <h2 class="title is-5">Staff</h2>
          <div class="user">
            <div class="user-profile-image"></div>
            <div>
              <div class="user-name">Denis Panov</div>
              <div class="user-summary">Web developer at Cassacloud s.r.o</div>
            </div>
          </div>
          <h2 class="title is-5">Participants</h2>

          <div class="user">
            <div class="user-profile-image"></div>
            <div>
              <div class="user-name">Denis Panov</div>
              <div class="user-summary">Web developer at Cassacloud s.r.o</div>
            </div>
          </div>

          <div class="user">
            <div
              class="user-profile-image"
              style="background-image: url('')"
            ></div>
            <div>
              <div class="user-name">Denis Panov</div>
              <div class="user-summary">Web developer at Cassacloud s.r.o</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="messages">
    <div class="messages-header">
      <div
        class="icon"
        style="background-image: url('../../../assets/icons/close.svg')"
      ></div>
      <div class="title is-5">Hack Kosice</div>
    </div>
    <div class="messages-bottom">
      <input type="text" name="" value="" placeholder="Messsage" />
      <div
        class="icon"
        style="background-image: url('../../../assets/icons/send.svg')"
      ></div>
    </div>
    <div class="messages-container">
      <div class="message my">
        <div
          class="message-image"
          style="background-image: url('https://pbs.twimg.com/profile_images/1063501382446125057/AH79Idpk_400x400.jpg')"
        ></div>
        <div>
          <div class="message-name"><strong>Denis Panov</strong></div>
          <div class="message-text">Messsage</div>
        </div>
      </div>
      <div class="message">
        <div
          class="message-image"
          style="background-image: url('https://pbs.twimg.com/profile_images/1063501382446125057/AH79Idpk_400x400.jpg')"
        ></div>
        <div>
          <div class="message-name"><strong>Denis Panov</strong></div>
          <div class="message-text">Messsage</div>
        </div>
      </div>
      <div class="message">
        <div
          class="message-image"
          style="background-image: url('https://pbs.twimg.com/profile_images/1063501382446125057/AH79Idpk_400x400.jpg')"
        ></div>
        <div>
          <div class="message-name"><strong>Denis Panov</strong></div>
          <div class="message-text">Messsage</div>
        </div>
      </div>
    </div>
  </div>
</main>
<app-bottom-nav></app-bottom-nav>
