<app-header></app-header>
<button type="button"
        (click)="showMessages()"
        class="button mes-b">Messsages
</button>
<main>
  <div class="container">
    <div class="" *ngIf="event">
      <div class="columns">
        <div class="column">
          <div
            class="profile-image"
            [style.background-image]="'url(' + event.img_url + ')'"
          ></div>
          <a href="{{event.site}}" class="button">Visit website</a>
          <h1 class="title is-4">{{event.name}}</h1>
          <p><strong>{{event.city + ', '+ event.address}}</strong></p>
          <p>10 Feb 2007 - 11 Feb 2007</p>
          <hr/>
          <p class="desc">
            {{event.description}}
          </p>
          <hr/>

          <h2 class="title is-5">Partners</h2>
          <div class="user">
            <div
              class="user-profile-image"
              style="background-image: url('https://www.tatrabanka.sk/images/sk/o-banke/o-banke/dolezite-dokumenty/logo-banky-stiahnutie/logo-modre/tatra_banka_blue.jpg')"
            ></div>
            <div>
              <div class="user-name">Tatra banka</div>
            </div>
          </div>

          <h2 class="title is-5">Staff</h2>
          <div class="user" *ngFor="let stf of stuff">
            <div
              class="user-profile-image"
              [style.background-image]="'url(' + stf.photo_url + ')'"></div>
            <div>
              <div class="user-name">{{stf.display_name}}</div>
              <div class="user-summary">{{stf.summary}}</div>
            </div>
          </div>

          <h2 class="title is-5">Participants</h2>

          <div class="user" *ngFor="let part of participants">
            <div
              class="user-profile-image"
              [style.background-image]="'url(' + part.photo_url + ')'"></div>
            <div>
              <div class="user-name">{{part.display_name}}</div>
              <div class="user-summary">{{part.summary}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div #messages
       class="messages hidden">
    <div class="messages-header">
      <div
        class="icon"
        (click)="hideMessages()"
        style="background-image: url('../../../assets/icons/close.svg')"></div>
      <div class="title is-5">Hack Kosice</div>
    </div>
    <div class="messages-bottom">
      <input type="text" name="" value="" placeholder="Messsage"/>
      <div
        class="icon"
        style="background-image: url('../../../assets/icons/send.svg')"
      ></div>
    </div>
    <div class="messages-container">
      <div class="message my">
        <div
          class="message-image"
          style="background-image: url('https://pbs.twimg.com/profile_images/1063501382446125057/AH79Idpk_400x400.jpg')"></div>
        <div>
          <div class="message-name"><strong>Denis Panov</strong></div>
          <div class="message-text">Messsage</div>
        </div>
      </div>
      <div class="message">
        <div
          class="message-image"
          style="background-image: url('https://pbs.twimg.com/profile_images/1063501382446125057/AH79Idpk_400x400.jpg')"
        ></div>
        <div>
          <div class="message-name"><strong>Denis Panov</strong></div>
          <div class="message-text">Messsage</div>
        </div>
      </div>
      <div class="message">
        <div
          class="message-image"
          style="background-image: url('https://pbs.twimg.com/profile_images/1063501382446125057/AH79Idpk_400x400.jpg')"
        ></div>
        <div>
          <div class="message-name"><strong>Denis Panov</strong></div>
          <div class="message-text">Messsage</div>
        </div>
      </div>
    </div>
  </div>
</main>

<app-bottom-nav></app-bottom-nav>
