<nav class="navbar is-expanded is-fixed-top">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <!--
        <img src="../../../assets/images/elevent.svg" width="48" height="48" />
      -->
      <a href="#" class="title is-5">elevent</a>
    </a>
  </div>
  <div class="navbar-end">
    <div class="navbar-item">
      <div
        class="icon"
        style="background-image: url('../../../assets/icons/edit.svg')"
      ></div>
    </div>
    <div class="navbar-item">
      <div
        class="icon"
        style="background-image: url('../../../assets/icons/logout.svg')"
      ></div>
    </div>
  </div>
</nav>
