@import "../../../assets/styles/_styles.scss";


.navbar-item {
  display: flex;
}

.navbar {
  border-bottom:  solid 1px #E0E0E0;
}

.navbar,
.navbar-menu,
.navbar-start,
.navbar-end {
  align-items: stretch;
  display: flex;
  padding: 0;
}

.navbar-menu{
  flex-grow: 1;
  flex-shrink: 0;
}
.navbar-start{
  justify-content: flex-start;
  margin-right: auto;
}
.navbar-end{
  justify-content: flex-end;
  margin-left: auto;
}


.profile-image {
  box-sizing: content-box;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  // padding: 6px;

  img {
    height: 36px;
    width: 36px;
    border-radius: 100%;
    max-height: 10000px;
  }

}

.title {
  color: #219cee !important;
}
