<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 col-lg-8 col-xl-6">
      <div class="media">
        <div class="media-left">
          <img src="../../../assets/images/images.jpeg"
               alt="Profile image"
               class="img-fluid rounded-circle el_profile_image">
        </div>
        <div class="media-body ml-3">
          <h4 class="media-heading">John Doe</h4>
          <p>Lorem ipsum...</p>
        </div>
      </div>
    </div>
  </div>
</div>
