<app-header></app-header>
<main>
  <div class="container">
    <div class="">
      <div class="columns">
        <div class="column">
          <h2 class="title is-3">Explore</h2>
          <p>
            Here you can find event where you are.<br />Just put event #tag and
            click join.
          </p>
          <div class="field has-addons">
            <div class="title">#</div>
            <div class="control">
              <form [formGroup]="mainForm">
                <input class="input tag-in"
                       formControlName="hash"
                       type="text"
                       placeholder="tag" />
              </form>
            </div>
            <div class="control">
              <a class="button is-info" (click)="find()"><strong>Join</strong></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<app-bottom-nav></app-bottom-nav>
