main {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #fafafa;
  min-height: 100vh;
}

h2 {
  margin-top: 0px;
}

.button {
}


.column {
  max-width: 500px;
  margin: auto;
}

.columns {
  margin: 0;
}

hr {
  width: 50px;
  background: #E0E0E0;
}

.save {
  margin: auto;
  display: block;
  margin-top: 30px;
  width: 100%;
}

.tag-in {
  margin-left: 5px;
}

.field {
  margin-top: 50px;
}
