.icon {
  // background: red;
  height: 48px;
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  width: 48px;
}

.columns {
  margin: 0 !important;
}
